input[type="radio"] {
  display: none;
}

.placeholer {
  font-size: 50px;
}

.input-coment::-webkit-input-placeholder{
  font-size: 15px;
}
.rate {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.button {
  margin-top: 1rem;
  margin-left: 3rem;
  justify-content: space-between;
  float: left;
}