.box {
  font-size: 20px;
  margin: 20px;
  max-width: 25rem;
  margin-left: 4.5rem;
}

.text-nav {
  font-size: 25px;
  font-weight: 100;
}

.text-card-title {
  font-size: 25px;
  font-weight: lighter;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 50px;
  font-weight: 500;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(20% - 10px);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.question {
  cursor: pointer;
}